!!!
%html(lang="ja")
  %head
    %meta(charset="UTF-8")
      %title OctoWatcher
      %meta(name="description" content="")
      %meta(name="keywords"    content="")
      %link(rel="stylesheet"   href="/bootstrap.css")
      %link(rel="stylesheet"   href="/application.css")
      %link(href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css")
      %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
      %script(src="/jquery.bottom-1.0.js")
      %script(src="/application.js")
      / Le HTML5 shim, for IE6-8 support of HTML elements
      / [if lt IE 9]
      /   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      / [endif]

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/") OctoWatcher
          .nav-collapse
            %ul.nav
              %li.divider-vertical
              %li
                %form.navbar-search.pull-left(action="/search")
                  %input.search-query.span2(type="text" name="user" placeholder="Search...")
    #wrap-container
      .container
        = yield

    %footer
      .container
        %p created_by @daic-h. Source Code <a href="https://github.com/daic-h/octowatcher"> daic-h/octowatcher</a>