@charset "utf-8";

html, body {
    height:100%;
}

body {
    color: #555;
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
}

@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: normal;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url('http://themes.googleusercontent.com/static/fonts/shadowsintolighttwo/v1/gDxHeefcXIo-lOuZFCn2xWBFAVUSWdQlArshVRSwYMrr7w4p9aSvGirXi6XmeXNA.woff') format('woff');
}

.preloader {
    text-align: center;
    img { padding: 10px 0 40px 0; }
}

#all-close {
    color: #222;
    font-weight: bold;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 10px 10px 11px;
    float: none;
    display: none;
}

header {
    margin-top: 80px;
    h1 {
        font-weight: 300;
        font-size: 40px;
        color: #404040;
        margin-bottom: 10px;
        line-height: 1;
    }
}

#masthead, #top {
    p {
        font: 300 30px  "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 36px;
    }
}

#masthead {
    margin: 100px auto;
    h1 {
        font: bold 80px 'Museo Sans', "museosans-web", 'serif';
        line-height: 1;
    }
}

#wrap-container {
    min-height: 100%;
    margin: 0 auto -30px;
    background: url(/octocat.png) fixed no-repeat;
    background-position: 80% 110%;
    background-size: 30%;
}

#watch-list {
    padding-bottom: 40px;
    .repository {
        padding-top: 30px;
        .description {
            border-bottom: 1px solid #DDD;
            position: relative;
            p {
                color: #333;
                font-weight: normal;
                min-height: 18px;
                margin-bottom: 0;
            }
            img {
                height: 30px;
                width: 30px;
            }
            .language {
                font-size: 40px;
                font-family: 'Poiret One', cursive;
                font-family: 'Shadows Into Light Two', cursive;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .readme {
            .rclose {
                color: #4183C4;
                cursor: pointer;
                margin: 6px 0;
                padding: 6px 0;
                background-color: #EEE;
                text-align: center;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                display: none;
            }
            .body {
                display: none;
                line-height: 2em;
                h1, h2, h3, h4, h5 {
                    margin: 0 0 9px;
                }

            }
        }
    }

    .more a {
        color: #4183C4;
        display: block;
        margin: 10px 0 30px 0;
        padding: 8px 0;
        background-color: #EEE;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

footer {
    height: 30px;
    width: 100%;
    .container { text-align: center; }
}

#not-watched {
    margin-top: 40px;
    font-size: 30px;
}

